body {
  font-family: 'Segoe UI', sans-serif;
}
div#commit {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 12px;
  font-family: Consolas, Monospace;
  width: 46px;
  overflow: hidden;
  opacity: .5;
}
div#commit a {
  color: black;
}
div#commit a:hover {
  color: red;
}
@media (max-width: 480px) {
  div#commit {
    display: none;
  }
}
div#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(images/bg2.png);
  z-index: -1;
}
#sound {
  right: 10px;
  bottom: 10px;
  position: absolute;
  color: #FF931E;
}
span {
  font-style: italic;
}
canvas {
  margin: auto;
  display: block;
}
#modes {
  position: absolute;
  top: 10px;
  left: 10px;
}
#modes ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#modes #instructions {
  margin-top: 1em;
  width: 200px;
  font-size: 12px;
}
#game-over-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: none;
  -moz-transition: opacity ease-in 0.7s;
  -o-transition: opacity ease-in 0.7s;
  -webkit-transition: opacity ease-in 0.7s;
  transition: opacity ease-in 0.7s;
}
#game-over.show #game-over-bg {
  opacity: 1;
  display: block;
}
#game-over-modal {
  position: absolute;
  left: 50%;
  top: -130%;
  -moz-transition: top ease-out 0.7s;
  -o-transition: top ease-out 0.7s;
  -webkit-transition: top ease-out 0.7s;
  transition: top ease-out 0.7s;
}
#game-over.show #game-over-modal {
  top: 20%;
}
@media (max-height: 600px) {
  #game-over.show #game-over-modal {
    top: 20px;
  }
}
#game-over-inner {
  position: relative;
  left: -50%;
  background: #80649A;
  padding: 20px 20px;
  min-width: 300px;
}
#game-over-inner h1,
#game-over-inner h2,
#game-over-inner h3,
#game-over-inner h4 {
  color: white;
  text-align: center;
}
#game-over-inner p {
  text-align: center;
}
#game-over-inner h1 {
  font-size: 1.3em;
  margin-top: 0;
}
#game-over-inner .hide {
  display: none ;
}
#game-over-inner .scores {
  text-align: left;
  max-width: 280px;
}
#game-over-inner .scores h2 {
  font-size: 0.8em;
  text-align: left;
  float: left;
  clear: left;
  margin: 0 0 0.5em 0;
  line-height: 1.5em;
}
#game-over-inner .scores h2 + p {
  margin: 0;
  float: right;
  color: #8CB09C;
  font-size: 1.1em;
  font-weight: bold;
}
#game-over-inner .buttons {
  text-align: center;
}
#game-over-inner .buttons .play-again {
  display: inline-block;
  padding-right: 10px;
}
#game-over-inner .buttons .other {
  display: inline-block;
}
#game-over-inner hr {
  border: 1px solid #b3a2c2;
  clear: both;
}
#game-over-inner a.try {
  color: white;
  text-decoration: none;
  background: #FF4A51;
  padding: 1em;
  display: inline-block;
}
#game-over-inner a.try:hover {
  background: #ff7d82;
}
#game-over-inner a.play-again {
  color: white;
  text-decoration: none;
  background: #FF931E;
  padding: 1em;
  display: inline-block;
}
#game-over-inner a.play-again:hover {
  background: #ffab51;
}
#game-over-inner a.share {
  color: white;
  text-decoration: none;
  margin-right: 1em;
}
#game-over-inner a.share:hover {
  color: #392950;
}
@media (max-width: 480px) {
  #game-over-inner {
    padding: 10px 20px;
  }
  #game-over-inner .scores {
    max-width: 100%;
  }
}
/*# sourceMappingURL=app.css.map */